
body {
    display: grid;
    grid-template-rows:2fr 6fr;
    grid-template-areas:
     "header "
      "main";

    width: 100vw;
    height: 100vh;

    margin: 0;
}


header {
    grid-area: header;
    background-color: royalblue;
    border-radius: 8px;
}

main {
    grid-area: main;
    background-color: slategray;

    display: grid;
    grid-template-rows:2fr 15fr 2fr 4fr;
    grid-template-areas:
      "base "
      "months"
      "bonus"
      "calc";

    margin: 0;
}

#base {
    grid-area: base;
    background-color: yellow;

    display: flex;
}

#months {
    grid-area: months;
    background-color: darkmagenta;
    display: flex;
    flex-direction: column;
}


#bonus {
    grid-area: bonus;
    background-color: chartreuse;
}

#calc {
    grid-area: calc;
    background-color: aqua;
}

.input-text {
    /*before("          ")*/
    /*position: static;*/
    /*margin-left: 10ch;*/
    /*display: inline-block;*/
}
