
body {
    display: grid;
    grid-template-rows:0.1fr 10fr;
    grid-template-areas:
     "header"
      "main";
    margin: 0;

    width: 100vw;
    height: 100vh;
}

header {
    grid-area: header;

    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-template-areas:
    "title pic";
background: #302950;
    /*background: #0b62b0;*/
    margin: 0;
}

header #title {
    grid-area: title;
    margin: 0;
}

h1{
    /*color: #b5d2ec;*/
    color: #c6cdd7;
}

header #logo {
    grid-area: pic;
    margin: 0;

}

header #logo .img_logo{
    width: 60%;
    height: 70%;
    padding-top: 5%;
    /*padding-bottom: 1%;*/
}

main {
    grid-area: main;
    /*background-color: #bdd5e3;*/
    background-color: #d1d9e3;
    display: flex;
    flex-direction:column;
    margin: 0;
}

main section{
    margin-top: 30px;
}

#bonus {
    display: flex;
}

label{
    font-size:17px;
    font-weight:bold;
    text-align:right;
}

input{
    font-size:11px;
    padding:5px 2px;
    border:solid 1px #aacfe4;
    margin-left:50px;
    /*padding-left: 5%;*/
}

#calc {
    margin-top: 50px;
}

button{
    font-size: 15px;
    border-radius: 25px;
    padding:7px 20px 7px 20px;
}
